.nav-bar {
  margin-bottom: 20px;
}

.cart-detail-img{
  width: 80px;
  height: 100px;
}

.cart-detail-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link{
  cursor: pointer;
}

.checkout-btn{
  position: relative;
  button{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}

a{
  color: black;
}