.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

label {
  margin-bottom: 3px;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group {
  margin-top: 10px;
}
.button-group .btn-danger {
  margin-right: 10px;
}
