<div class="card popular-card mb-3 mb-lg-0">
  <img
    class="card-img-top item-img"
    [src]="cardItem.imageUrl"
    alt="Card image cap"
    (click)="showDetail()"
  />
  <div class="card-body">
    <small class="text-small mb-1 text-muted">{{ cardItem.category }}</small>
    <h2 class="card-title fs-6">{{ cardItem.title }}</h2>
    <p class="card-text">{{ cardItem.price | currency }}</p>

    <button
      type="button"
      *ngIf="!getAmount(cardItem)"
      class="btn btn-success w-100"
      (click)="onClick(cardItem)"
    >
      Add to cart
    </button>
    <div
      class="btn-click d-flex justify-content-center align-items-center"
      *ngIf="getAmount(cardItem) > 0"
    >
      <span class="btn btn-outline-success" (click)="removeItem(cardItem)">
        <fa-icon icon="minus"></fa-icon>
      </span>
      <span class="quantity mx-3 px-3 h5">
        {{ this.getAmount(cardItem) }}
      </span>
      <span class="btn btn-outline-success" (click)="addItem(cardItem)">
        <fa-icon icon="plus"></fa-icon>
      </span>
    </div>
  </div>
</div>
