
<h3>Products in Shop</h3>
<a routerLink="/admin/add-product" class="btn btn-primary">Add Product</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Title</th>
			<th scope="col">Price</th>
			<th scope="col">Category</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products; index as i">
			<th scope="row">{{ product.id }}</th>
			<td>
				<img
					[src]="product.imageUrl"
					class="me-2"
					style="width: 50px; height: 50px; border-radius: 50%"
				/>
				{{ product.title }}
			</td>
			<td>{{ product.price | currency:'USD' }}</td>
			<td>{{ product.category }}</td>
			<td>
				<button type="button" class="btn btn-link" (click)="editProduct(product)">Edit</button>
				<button type="button" class="btn btn-link" (click)="deleteProduct(product)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
