<div class="container my-3">
  <div class="row">
    <div class="col-12 col-sm-3 nav mb-3 ps-2">
      <ul class="list-group w-100">
        <li
          class="list-group-item"
          [class.active]="pageName == 'profile'"
          (click)="pageName = 'profile'"
        >
          Profile About
        </li>
        <li
          class="list-group-item"
          [class.active]="pageName == 'order'"
          (click)="pageName = 'order'"
        >
          Ordered Lists
        </li>
        <li
          class="list-group-item"
          [class.active]="pageName == 'address'"
          (click)="pageName = 'address'"
        >
          Address
        </li>
        <li
          class="list-group-item"
          [class.active]="pageName == 'socials'"
          (click)="pageName = 'socials'"
        >
          Socials
        </li>
        <li
          class="list-group-item"
          [class.active]="pageName == 'password'"
          (click)="pageName = 'password'"
        >
          Password Reset
        </li>
      </ul>
    </div>

    <div class="col">
      <div [ngSwitch]="pageName">
        <div *ngSwitchCase="'profile'">
          <form class="card profile shadow-sm" [formGroup]="form">
            <div class="card-body">
              <div class="card-img">
                <img
                  class="card-img-top"
                  [src]="currentUser.profile"
                  [alt]="currentUser.name"
                />
              </div>
              <div class="form-group m-3">
                <label for="username">Name</label>
                <input
                  class="form-control"
                  type="text"
                  name=""
                  id="username"
                  formControlName="username"
                />
              </div>

              <div class="form-group m-3">
                <label for="email">Email</label>
                <input
                  class="form-control"
                  type="text"
                  name=""
                  id="email"
                  formControlName="email"
                />
              </div>

              <button
                *ngIf="!isconfirm"
                class="btn btn-success m-3"
                type="button"
                (click)="update()"
              >
                Update Profile
              </button>

              <button
                *ngIf="isconfirm"
                class="btn btn-success m-3"
                type="button"
                (click)="confirm()"
              >
                Confirm
              </button>
              <button
                *ngIf="isUpdate"
                class="btn btn-danger m-3"
                type="button"
                (click)="cancel()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>

        <div *ngSwitchCase="'order'" class="order">
          <h3>Yours Order</h3>

          <div class="shadow-sm table-responsive">
            <table class="table table-hover" style="min-width: 800px">
              <thead class="thead-light">
                <tr>
                  <th style="width: 5%">#</th>
                  <th style="width: 20%">Name</th>
                  <th style="width: 25%">Order Date</th>
                  <th style="width: 10%">Status</th>
                  <th style="width: 30%">Estimated Shipment Time</th>
                  <th style="width: 10%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  app-customer-order
                  *ngFor="let order of myOrder"
                  [order]="order"
                ></tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="'socials'" class="socials">
          <ul>
            <li class="card d-flex flex-row col-12 col-sm-5 mr-3 mb-2 shadow">
              <div class="card-logo card-facebook me-3"></div>
              <div class="card-text">
                <p>Contact on facebook</p>
              </div>
            </li>
            <li class="card d-flex flex-row col-12 col-sm-5 mr-3 mb-2 shadow">
              <div class="card-logo card-instagram me-3"></div>
              <div class="card-text">
                <p>Follow me on Instagram</p>
              </div>
            </li>
            <li class="card d-flex flex-row col-12 col-sm-5 mr-3 mb-2 shadow">
              <div class="card-logo card-twitter me-3"></div>
              <div class="card-text">
                <p>contact on twitter</p>
              </div>
            </li>
            <li class="card d-flex flex-row col-12 col-sm-5 mr-3 mb-2 shadow">
              <div class="card-logo card-youtube me-3"></div>
              <div class="card-text">
                <p>Subscribe on youtube</p>
              </div>
            </li>
          </ul>
        </div>

        <div *ngSwitchCase="'address'" class="address">
          <form [formGroup]="addressForm" class="shadow-sm rounded p-3">
            <div class="form-group my-4">
              <div class="row">
                <div class="form-group col-6">
                  <label for="phone">Phone</label>
                  <input
                    formControlName="phone"
                    id="phone"
                    class="form-control"
                    type="number"
                    name=""
                  />
                </div>
                <div class="form-group col-6">
                  <label for="dob">Date of Birth</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="dd/mm/yyyy"
                      name="dob"
                      formControlName="dob"
                      ngbDatepicker
                      #d2="ngbDatepicker"
                    />
                    <button
                      class="btn btn-outline-secondary bi bi-calendar3"
                      [disabled]="!isconfirm2"
                      (click)="d2.toggle()"
                      type="button"
                    ></button>
                  </div>
                </div>
              </div>

              <div class="form-group my-4">
                <label for="address1">Address 1</label>
                <input
                  formControlName="address1"
                  id="address1"
                  class="form-control"
                  type="text"
                  name=""
                />
              </div>

              <div class="form-group my-4">
                <label for="address2">Address 2</label>
                <input
                  formControlName="address2"
                  id="address2"
                  class="form-control"
                  type="text"
                  name=""
                />
              </div>

              <div class="form-group my-4">
                <div class="row">
                  <div class="col">
                    <label for="city">City</label>
                    <input
                      formControlName="city"
                      type="text"
                      id="city"
                      class="form-control"
                    />
                  </div>
                  <div class="col">
                    <label for="State">State</label>
                    <input
                      formControlName="state"
                      type="text"
                      id="State"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>

            <button
              *ngIf="!isconfirm2"
              class="btn btn-success me-3"
              type="button"
              (click)="update2()"
            >
              Update Data
            </button>
            <button
              *ngIf="isconfirm2"
              class="btn btn-success me-3"
              type="button"
              (click)="confirm2()"
            >
              Confirm
            </button>
            <button
              *ngIf="isUpdate2"
              class="btn btn-danger me-3"
              type="button"
              (click)="cancel2()"
            >
              Cancel
            </button>
          </form>
        </div>

        <div *ngSwitchCase="'password'" class="address">
          <form [formGroup]="passwordForm" class="shadow-sm rounded p-3">
            <div class="form-group my-4">
              <label for="oldPass">Old Password</label>
              <input
                id="oldPass"
                formControlName="oldpass"
                class="form-control"
                type="password"
                name=""
              />
              <div
                *ngIf="passwordForm.get('oldpass')?.touched && passwordForm.get('oldpass')?.errors?.['required']"
                class="invalid-feedback"
              >
                Password is required
              </div>
            </div>
            <div class="form-group my-4">
              <label for="newPass">New Password</label>
              <input
                id="newPass"
                formControlName="newpass"
                class="form-control"
                type="password"
                name=""
              />
              <div
                *ngIf="passwordForm.get('newpass')?.touched && passwordForm.get('newpass')?.errors?.['required']"
                class="invalid-feedback"
              >
                New Password is required
              </div>

              <div
                *ngIf="passwordForm.get('newpass')?.touched && passwordForm.get('newpass')?.errors?.['minlength']"
                class="invalid-feedback"
              >
                Password sholud be mininum
                {{ passwordForm.get('newpass')?.errors?.['minlength'].requiredLength }}
                characters
              </div>
            </div>
            <div class="form-group my-4">
              <label for="confPass">Confirm Password</label>
              <input
                id="confPass"
                formControlName="confpass"
                class="form-control"
                type="password"
                name=""
              />
            </div>
            <div
              *ngIf="passwordForm.get('confpass')?.touched && passwordForm.errors?.['passwordShouldMatch']"
              class="invalid-feedback"
            >
              Password should be match
            </div>

            <button
              *ngIf="!isReset"
              class="btn btn-success"
              (click)="resetPassword()"
            >
              Reset Password
            </button>

            <button
              *ngIf="isReset"
              class="btn btn-success"
              (click)="confirmPassword()"
            >
              Confirm Password
            </button>
            <button
              *ngIf="isReset"
              class="btn btn-danger m-3"
              type="button"
              (click)="cancelUpdate()"
            >
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
