<div class="container my-5">
  <h2>Order Detail</h2>
  <div class="row">
    <div class="col-md-6 col-12 my-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Customer's Details</h4>
          <table *ngIf="order">
            <tbody>
              <tr>
                <td class="pb-2"><strong>Name:</strong></td>
                <td class="pb-2">{{ order.data.created_user_id.name }}</td>
              </tr>
              <tr>
                <td class="pb-2"><strong>Email:</strong></td>
                <td class="pb-2">{{ order.data.created_user_id.email }}</td>
              </tr>
              <tr>
                <td class="pb-2">
                  <strong>Adderss:</strong>
                </td>
                <td class="pb-2">{{ order.data.address }}</td>
              </tr>
              <tr>
                <td class="pb-2"><strong>Payment Method:</strong></td>
                <td class="pb-2">{{ order.data.credit }}</td>
              </tr>
              <tr>
                <td class="pb-3"><strong>Card Name:</strong></td>
                <td class="pb-3">{{ order.data.created_user_id.name }}</td>
              </tr>
              <tr>
                <td><strong>Status:</strong></td>
                <td>
                  <span
                    class="status py-1 px-2"
                    [style]="getStyle(order.data.order_status)"
                    >{{ getStatus(order.data.order_status) }}</span
                  >
                </td>
              </tr>
              <!--<tr>
                <td><strong>Card Number:</strong></td>
                <td>{{ customer.card_number }}</td>
              </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 my-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Orders List</h4>
          <ul class="list-group">
            <li
              *ngFor="let item of orderProducts"
              class="list-group-item d-flex justify-content-between align-items-center lh-condensed"
            >
              <span class="text-muted col-1">{{ item.amount }}x</span>
              <div class="col-9">
                <h6 class="my-0">{{ item.title }}</h6>
                <small class="text-muted">{{ item.category }}</small>
              </div>

              <span class="text-muted col-2 text-end">{{
                item.price | currency: "USD"
              }}</span>
            </li>
            <!--<li
              *ngIf="orderProduct[0].discount"
              class="list-group-item d-flex justify-content-between bg-light"
            >
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>-->
            <!--<small> {{ orderProduct[0].discount }}%&nbsp;PROMOCODE</small>-->
            <!--</div>
              <span class="text-success"
                >-{{ orderProduct[0].discount | currency }}</span
              >
            </li>-->

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>
                {{ totalPrice(orderProducts) | currency: "USD" }}
              </strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
