<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="col-md-6">
          <img src="https://images.pexels.com/photos/1895019/pexels-photo-1895019.jpeg" width="100%">
        </div>

        <div class="details col-md-6">
          <a routerLink="/home">Back to home</a>
          <h3 class="product-title">men's shoes fashion</h3>
          <!--<div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>-->
          <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
          <p class="price"> $ 800.00</p>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
          
          <div class="row">
            <div class="col-md-3">
              <label for="colors">Select Colors</label>
              <select  id="colors" class="form-select" aria-label="Default select example">
                <option value="1">White</option>
                <option value="2">Black</option>
                <option value="3">Yellow</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="sizes">Select Sizes</label>
              <select  id="colors" class="form-select" aria-label="Default select example">
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">XL</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="amount">Select Amounts</label>
              <input
                type="number"
                class="form-control form-control-sm ms-3 cartItemValue"
                min="0"
                max="100"
                step="1"
              />
            </div>
          </div>

          <div class="action">
            <button class="btn btn-success" type="button">add to cart</button>
            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>