:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #656565, #353535 100%);
  font-family: "Aladin", cursive;
  flex-grow: 1;
}

.login-form {
  width: 550px;
  padding: 20px;
  box-shadow: 5px 5px 20px #a9a9a9;
  background-color: #fff;
  transform: translateY(-15%);
  border-radius: 10px;
}

.row {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

.btn {
  margin-top: 20px;
}

.error {
  color: red;
}

a {
  cursor: pointer;
}
