<div class="container">
  <div class="row">
    <p class="fs-2 text-center text-uppercase my-5">
      Frequently asked questions
    </p>

    <p class="fs-5">Order</p>
    <ngb-accordion
      #acc="ngbAccordion"
      activeIds="ngb-panel-0"
      class="mb-5"
      [closeOthers]="true"
    >
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>How do I place an order?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ol>
            <li>Go to category page.</li>
            <li>Add to cart one item.</li>
            <li>Click checkout.</li>
            <li>Fill shipping address & payment.</li>
            <li>Click Place an order.</li>
          </ol>
          <p class="text-muted">
            It's that easy. <i class="bi bi-check2 text-success"></i>
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Do I need an account to place an order?</span>
        </ng-template>
        <ng-template ngbPanelContent> Sure, why not. </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>I can't find an item that I am looking for?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Maybe we do not have that item, but keep looking for it. We will stock
          it one day.
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>I've forgotten my password - what should I do?</span>
        </ng-template>
        <ng-template ngbPanelContent> Go to forget password page </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <p class="fs-5">Delivery</p>
    <ngb-accordion
      #acc="ngbAccordion"
      activeIds="ngb-panel-0"
      class="mb-5"
      [closeOthers]="true"
    >
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>How about delivery?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          We have no delivery service currently, but we hope one in the future.
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Shipping time?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Approximately, 24 hours but if we do not feel well, we do not ship.
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Which countries do we ship to?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Actually, we do not ship anything.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <p class="fs-5">Payment</p>
    <ngb-accordion
      #acc="ngbAccordion"
      activeIds="ngb-panel-0"
      class="mb-5"
      [closeOthers]="true"
    >
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Which payment we accept?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          KBZ Pay, WavePay and all payments in Myanmar
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>How can I get a refund?</span>
        </ng-template>
        <ng-template ngbPanelContent> No Never </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>How long does it take to process my refund?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          We do not process refund manually.
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>How much does shipping cost?</span>
        </ng-template>
        <ng-template ngbPanelContent> 500$ </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
