:host {
  //flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(135deg, #656565, #353535 100%);
  font-family: "Aladin", cursive;
  min-height: 60vh;
}

.login-form {
  width: 500px;
  height: 200px;
  padding: 20px;
  box-shadow: 5px 5px 20px #383838;
  background-color: #fff;
  border-radius: 10px;
}

.info-card {
  background-color: transparent;
  color: rgb(163, 163, 163);
}
