<div class="container">
  <h2>New Orders</h2>

  <div
    *ngIf="orderService.order.length > 0; then orderList; else noOrder"
  ></div>

  <ng-template #orderList>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th style="width: 15%">Customer Name</th>
          <th style="width: 20%">Order Date</th>
          <th style="width: 30%">Estimated Shipment Time</th>
          <th style="width: 20%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-order-list
          *ngFor="let order of orderLists"
          [order]="order"
        ></tr>
      </tbody>
    </table>
  </ng-template>

  <div *ngIf="shippingList && shippingList.length > 0" class="my-5">
    <h2>Shipping Orders</h2>

    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Customers</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of shippingList">
          <td>{{ order.customer.fname }}&nbsp; {{ order.customer.lname }}</td>
          <td>{{ order.customer.date | date: "fullDate" }}</td>
          <td>
            <button class="btn btn-link" (click)="viewOrder(order)">
              <td>view</td>
            </button>
          </td>
          <td>
            <button class="btn btn-link" (click)="addArrivedList(order)">
              <td>arrive</td>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="arrivedList && arrivedList.length > 0" class="my-5">
    <h2>Arrived Orders</h2>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Customers</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of arrivedList">
          <td>{{ order.customer.fname }}&nbsp; {{ order.customer.lname }}</td>
          <td>{{ order.customer.date | date: "fullDate" }}</td>
          <td>
            <button class="btn btn-link" (click)="viewOrder(order)">
              <td>view</td>
            </button>
          </td>
          <td>
            <button class="btn btn-link" (click)="addShippingList(order)">
              <td>arrive</td>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="second-container">
    <ng-template #noOrder>
      <p>No Order from Customers...</p>
    </ng-template>
  </div>
</div>
