<section class="container mt-2">

  <div class="container-fluid">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of products">
        <div class="wrapper">
          <img [src]="image.imageUrl" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{ image.title }}</h3>
        </div>
      </ng-template>
    </ngb-carousel>

  </div>

  <section class="feature-ttl">
    <h3>Features Categories</h3>
    <div class="slick-wrapper">

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)" >
        <div ngxSlickItem *ngFor="let product of products" class="slide">
          <div class="card">
            <img [src]="product.imageUrl" alt="" width="100%">
          </div>
        </div>
      </ngx-slick-carousel>
      
      </div>
  </section>

  <section class="popular-ttl">
    <h3 class="popular-ttl">Popular Products</h3>
    <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
      <div class="col" *ngFor="let product of products">
        <div class="card popular-card">
          <img class="card-img-top item-img" [src]="product.imageUrl" alt="Card image cap">
          <div class="card-body">
            <small class="text-small mb-1 text-muted">{{ product.category }}</small>
            <h2 class="card-title fs-6"> {{ product.title }} </h2>
            <p class="card-text"> {{ product.price | currency:'USD' }}</p>
    
            <button type="button" *ngIf="!isAddToCart" class="btn btn-success" (click)="onClick(product)">Add to cart</button>
            <div class="btn-click" *ngIf="isAddToCart">
              <span class="btn btn-outline-success">
                <fa-icon icon="minus"></fa-icon>
              </span>
              <span class="quantity"> 1 </span>
              <span class="btn btn-outline-success">
                <fa-icon icon="plus"></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>