<div class="container">
  <div class="row mb-5">
    <p class="fs-3 my-5">
      <span class="border-bottom border-dark">PRIVACY & COOKIE POLICY</span>
    </p>
    <p class="fs-5 mb-2">About Everything Shop</p>
    <p class="text-muted mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi debitis quis
      magnam assumenda, corporis quasi aut sint pariatur? Beatae officiis
      obcaecati ut illo veniam ipsam eos enim. Vero, nemo minima. Lorem ipsum
      dolor sit, amet consectetur adipisicing elit. Commodi, odit labore. Id
      dolores vel excepturi quo doloremque error exercitationem tempore
      explicabo, amet voluptatem! Atque, eveniet doloribus provident tenetur
      eligendi quas.
    </p>
    <p class="fs-5 mb-2">
      Questions; Contacting Company; Reporting Violations.
    </p>
    <p class="text-muted mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi debitis quis
      magnam assumenda, corporis quasi aut sint pariatur? Beatae officiis
      obcaecati ut illo veniam ipsam eos enim.
    </p>
    <p class="fs-5 mb-2">Personal Data</p>
    <p class="text-muted mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi debitis quis
      magnam assumenda, corporis quasi aut sint pariatur? Beatae officiis
      obcaecati ut illo veniam ipsam eos enim.
    </p>
  </div>
</div>
