:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background: linear-gradient(135deg, #ffe645, #e2aa02 100%);
  font-family: 'Aladin', cursive;
}

.login-form {
  width: 500px;
  height: 320px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #383838;
}