<div class="container my-5">
  <div *ngIf="!confirmOrder" class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="mb-3">
        <span class="text-muted mr-3">Your cart</span>
        <span class="badge badge-secondary text-bg-secondary">{{
          totalCartItem()
          }}</span>
      </h4>
      <ul class="list-group mb-3">
        <li *ngFor="let item of cartItem" class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ item.title }}</h6>
            <small class="text-muted">{{ item.category }}</small>
          </div>
          <span class="text-muted">{{ item.amount }}x</span>
          <span class="text-muted">{{ item.price | currency: "USD" }}</span>
        </li>

        <li *ngIf="hasPromo" class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small> {{ discount }}%&nbsp;PROMOCODE</small>
          </div>
          <span class="text-success">-{{ discountPrice | currency }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong> {{ totalPrice() | currency:'USD' }} </strong>
        </li>
      </ul>



      <form class="p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code eg: 10%promo" #promocode name="promocode" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary" (click)="redeem(promocode.value)">Redeem</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form [formGroup]="form" class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" formControlName="fname" />
            <div *ngIf="form.get('fname')?.touched && form.get('fname')?.errors?.['required']" class="invalid-feedback">
              first name is required.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lname" />
            <div *ngIf="form.get('lname')?.touched && form.get('lname')?.errors?.['required']" class="invalid-feedback">
              last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username" />
            <div *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required']" class="invalid-feedback" style="width: 100%">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email" />
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="" formControlName="address1" />
          <div *ngIf="form.get('address1')?.touched && form.get('address1')?.errors?.['required']" class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" formControlName="address2" />
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <input type="text" class="form-control" formControlName="country" />
            <div *ngIf="form.get('country')?.touched && form.get('country')?.errors?.['required']" class="invalid-feedback">
              Please enter country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <input type="text" class="form-control" formControlName="state" />
            <div *ngIf="form.get('state')?.touched && form.get('state')?.errors?.['required']" class="invalid-feedback">
              Please provide a state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" formControlName="zip" />
            <div *ngIf="form.get('zip')?.touched && form.get('zip')?.errors?.['required']" class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4" />

        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="same-address" formControlName="sameaddress" />
          <label class="form-check-label" for="same-address">
            Shipping address is the same as my billing address
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="save-info" formControlName="remember" />
          <label class="form-check-label" for="save-info">
            Save this information for next time
          </label>
        </div>
        <hr class="mb-4" />

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="payment" id="credit" value="credit" formControlName="payment" />
            <label class="form-check-label" for="credit"> Credit card </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="payment" id="debit" value="debit" formControlName="payment" />
            <label class="form-check-label" for="debit"> Debit card </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="payment" id="paypal" value="paypal" formControlName="payment" />
            <label class="form-check-label" for="paypal"> Paypal </label>
          </div>
          <div *ngIf="form.get('payment')?.errors?.['required']" class="invalid-feedback">
            Payment method is required
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" formControlName="card_name" />
            <small class="text-muted">Full name as displayed on card</small>
            <div *ngIf="form.get('card_name')?.touched && form.get('card_name')?.errors?.['required']" class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" formControlName="card_number" />
            <div *ngIf="form.get('card_number')?.touched && form.get('card_number')?.errors?.['required']" class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <hr class="mb-4" />
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid" (click)="onSubmit()">
          Place Order
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="confirmOrder" class="second-container">
    <h1>Thanks You!</h1>
    <p>We received your order and will process it within the next 24hours!</p>
  </div>
</div>