/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/scss/font-awesome.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}

.slick-track {
  padding: 10px 0;
}

.slick-prev,
.slick-next {
  height: 45px;
  width: 40px;
  z-index: 100;
}

.slick-prev::before {
  content: "←";
  color: #198754;
  font-size: 30px;
}

.slick-next::before {
  content: "→";
  color: #198754;
  font-size: 30px;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

.slick-dots li button:before {
  color: #198754;
}

.slick-dots li.slick-active button:before {
  color: #198754;
}