/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/scss/font-awesome.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}

table {
  border-radius: 5px;
}

.slick-track {
  padding: 10px 0;
}

.slick-prev,
.slick-next {
  height: 45px;
  width: 40px;
  z-index: 100;
}

.slick-prev::before {
  content: "←";
  color: #198754;
  font-size: 30px;
}

.slick-next::before {
  content: "→";
  color: #198754;
  font-size: 30px;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

.slick-dots li button:before {
  color: #198754;
}

.slick-dots li.slick-active button:before {
  color: #198754;
}

.form-control.ng-touched.ng-invalid {
  border-color: rgb(220, 53, 69);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.ng-touched.ng-valid {
  border-color: #198754;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.ng-touched.ng-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.form-control.ng-touched.ng-valid:focus {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
.invalid-feedback {
  display: inline-block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}