/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/scss/font-awesome.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.slick-prev, 
.slick-next {
  height: 45px;
  width: 40px;
  z-index: 100;
}

.slick-prev::before {
  content: "←";
  color: #000;
}

.slick-next::before {
  content: "→";
  color: #000;
}