.about-1 {
  margin: 30px;
  padding: 5px;
}

.about-1 h2 {
  text-align: center;
  color: black;
  font-weight: bold;
}

.about-1 p {
  text-align: center;
  padding: 3px;
  color: black;
}

.about-item {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  padding: 80px 30px;
  box-shadow: 0 0 9px rgba(31, 4, 118, 0.6);
  cursor: pointer;
}

.about-item i {
  font-size: 43px;
  margin: auto;
}

.about-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.about-item hr {
  width: 46px;
  height: 3px;
  background-color: #600fd9;
  margin: 0 auto;
  border: none;
}
.about-item p {
  margin-top: 20px;
}
.about-item:hover{
  background-color: #5fbff9;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
  color: #fff;
}

.about-item:hover hr {
  background-color: #ffffff;
}

.about-item:hover i {
  transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr {
  transition: all 400ms ease-in-out;
}

